html {
  background-color: #eee9de;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

div {
  display: inline-block;
  max-width: 25em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

h2 {
  font-weight: bold;
  margin-top: 0;
}

section {
  display: block;
  padding: 2em 0;
  text-align: center;
}

p {
  text-align: left;
}

.btn {
  display: inline-block;
  color: #333;
  border-color: #333;
  border-style: solid;
  border-width: 3px;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  margin: .125em;
}

.btn:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}
